.cache/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
android/key.properties
android/upload-keystore.jks
android/app/src/main/java/
*.iml
*.log
